@import url('https://fonts.googleapis.com/css2?family=Vollkorn:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');


h1{
    margin-top: 2em;
    font-family: 'Vollkorn', serif;
    font-size: 40px;
    font-weight: 800;
    color:  #A37846;
}


ul{
    list-style: none;
    font-family: 'Josefin Sans', serif;
    font-size: 14px;
    padding-top: 15px;
}

.comment{
    padding-top: 30px;
    font-size: 16px;
    font-style: italic;
}

p{
    font-family: 'Josefin Sans', serif;
    font-size: 20px;
    padding-top: 15px;
}

.logotype{
    display: block;
    flex: auto;
    padding: 4em 0 0 1em;
    width: 40%;
    height: auto;
}

.details p{
    line-height: 0.5em;
}

.reviewContent{
    background-color: #FFF8EF;
    /* border-radius: 30px; */
    /* padding: 0.5em; */
    margin-top: 2em;
}

.location
{
    padding-top: 30px;
    font-size: 14px;
    font-style: normal;
    font-weight: 100;
}

button{
    margin-top: 1em;
    color: #FFF8EF;
    background-color:#B15239 ;
    width: 30%;
    font-family: Josefin Sans;
    text-align: center;
    font-size: 18px;
    border: none;
    padding: 10px 60px 10px 60px;
    border-radius: 30px;
}

.txtVal{
    color:red
}