@import url('https://fonts.googleapis.com/css2?family=Vollkorn:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

.landing--panels{
    width:100%;
    height:100%;
}

.landing__content{
    width:100%;
    height:100%;
    flex: 1;
    display:flex;
}

.panel-green{
    background-color: #FFF8EF;
    background-image: url(../../assets/molecules.png);
    background-position: center;
    background-repeat: no-repeat;
}

.panel-yeet{
    background-color: white;
    padding: 4em 4em 0 4em;
}

h1{
    margin-top: 0.5em;
    font-family: 'Vollkorn', serif;
    font-size: 50px;
    font-weight: 800;
    color: #B15239;
}

p{
    font-family: 'Josefin Sans', serif;
    font-size: 20px;
    padding-top: 15px;
}

button{
    margin-top: 1em;
    color: #F2F3F4;
    width: 80%;
    font-family: Josefin Sans;
    text-align: center;
    font-size: 18px;
    border: none;
    padding: 10px 60px 10px 60px;
    border-radius: 30px;
}

button:hover{
    background-color: black;
    transition: 0.3s;
}

.buttonGroup{
    margin: 0 auto !important;
    display: block;
    padding-top: 1em;
    align-items: left;
}

.buttonGroup button{
    width:80%;
}

.writeButton{
    background-color: #345276;
}

.browseButton{
    background-color: #A37846;
}

.faqButton{
    background-color: #4A5E49;
}
